.contact-form {
  border-color: var(--bmcolor);
  border-radius: 10px;
}

.button-bm {
  background-color: var(--bmcolor);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15px;
}
