.disclaimer {
  font-size: 12px;
}

.channel-bttn {
  color: white;
  font-size: small;
  font-weight: bolder;
  background-color: var(--bmcolor);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  margin: 15px;
}

.current {
  background-color: black;
  border-bottom: solid 4px var(--bmcolor);
  border-left: solid 2px var(--bmcolor);
}
